:root {
    --cinza-claro: #ded9da;
    --branco: #ffffff;
    --cor-texto: #17143f;
    --vermelho: #b51d44;
    --vermelho-escuro: #821B47;
    --azul-claro: rgba(0, 80, 251, 0.21);
}

.home-header {
    border-bottom: 1px solid var(--cinza-claro); /* Corrigido o espaço */
    background: var(--branco);
}

.home-header-conteudo {
    width: min(1200px, calc(100% - 48px));
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.home-header img {
    width: 100px;
}

.home-header nav {
    display: flex;
    gap: 28px;
}

.home-header a {
    color: var(--cor-texto);
    text-decoration: none;
}

.home-header button {
    border: none;
    background: none;
    color: var(--cor-texto);
    cursor: pointer;
}

.home-banner img {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
}

.home-visao-container,
.home-eventos,
.home-contato-container{
    width: min(1200px, calc(100% - 48px));
    margin: 0 auto;
    padding: 64px 0;
}

.home-visao {
    background: var(--vermelho);
}

.home-visao-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-visao img {
   max-width: 300px;
}

.home-visao-texto {
   color: var(--branco);
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.home-visao-texto p{
    margin-top: 10%;
} 

.home-eventos-titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.home-eventos-titulo hr{
    border: 1px solid var(--vermelho);   
    width: 20%;
}

.home-eventos-lista {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    margin-top: 32px;
}

.home-evento-card {
    border: 1px solid var(--vermelho-escuro);
    border-radius: 12px;
    overflow: hidden;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-evento-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.home-evento-card span{
    background-color: var(--azul-claro);
    border-radius: 12px;
    padding: 0 10px;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.home-evento-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 70%;
}

.home-evento-card-info button{
    border: none;
    background: none;
    color: var(--vermelho);
    font-weight: 700;
    cursor: pointer;
}

.home-evento-card h3,
.home-evento-card p,
.home-evento-card span,
.home-evento-card button{
    margin: 12px 16px;
}

.home-contato {
    background: var(--vermelho);
}

.home-contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo h2{
    color: var(--branco);
}

.home-contato-titulo hr{
    border: 1px solid var(--branco);
    min-width: 150px;
}

.home-contato-conteudo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    color: var(--branco);
    text-align: center;
    align-items: center;
}

.home-contato-conteudo iframe{
    width: 50%;
    height: 50vh;
}

.home-footer {
    padding: 24px;
    text-align: center;
    background: var(--branco);
    color: var(--cor-texto);
}