:root {
    --cinza-claro: #ded9da;
    --branco: #ffffff;
    --cor-texto: #17143f;
    --vermelho: #b51d44;
    --vermelho-escuro: #821B47;
    --azul-claro: rgba(0, 80, 251, 0.21);
}

.home-visao-container,
.home-eventos,
.home-contato-container{
    width: min(1200px, calc(100% - 48px));
    margin: 0 auto;
    padding: 64px 0;
}

.home-visao {
    background: var(--vermelho);
}

.home-visao-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-visao img {
   max-width: 300px;
}

.home-visao-texto {
   color: var(--branco);
   max-width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.home-visao-texto p{
    margin-top: 10%;
} 

.home-eventos-titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.home-eventos-titulo hr{
    border: 1px solid var(--vermelho);   
    width: 20%;
}

.home-contato {
    background: var(--vermelho);
}

.home-contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo h2{
    color: var(--branco);
}

.home-contato-titulo hr{
    border: 1px solid var(--branco);
    min-width: 150px;
}

.home-contato-conteudo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    color: var(--branco);
    text-align: center;
    align-items: center;
}

.home-contato-conteudo iframe{
    width: 50%;
    height: 50vh;
}